body { 
	padding-top: 40px; 
}

p {
	text-align: justify;
	font-family: 'Roboto';
	font-size: 17px;
}

#normalheading {
	font-family: 'Roboto';
	font-size: 50px;
}

}

/* Brand and links alignment */
.navbar-default .navbar-brand {
	margin-top: -5.0px;
}

.glyphicon.glyphicon-copyright-mark {
    font-size: 28px;
}

#page1 {
	padding-top: 80px;
	margin-top: -40px;
}

#page2 {
	padding-top: 90px;
	margin-top: -40px;
}

#page3 {
	padding-top: 100px;
	margin-top: -40px;
}

#socialmedia {
	text-align: center;
	padding-top: 45px;
	padding-bottom: 50px;
}

#socialmedialinks {
	margin:auto;
}

#portfoliorow {
	padding-top: 30px;
}

#mainpicdiv {
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
}

#mainpic {
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

#titletext {
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: 'Roboto';
	font-size: 28px;
}

#page3 {
	padding-top: 50px
	padding-bottom: 50px;
}

#contactmetext {
	padding-bottom: 5%;
}

#contact {
	padding-top: 30px;
}

#contactform {
	padding-bottom: 10%;
}

.google-maps {
	position: relative;
	padding-bottom: 33%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

#contactform{
    font-family: 'Roboto';
    font-size: 17px;
}